<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Maximum number of concurrent threads to run against target web site -->
    <add key="Threads" value="25" />
    <!-- Maximum number of URLs/files to scan on target web site (set this low for quick, multithreaded test) -->
    <add key="MaxURLs" value="500" />
    <!-- Temporary file used to store a downloaded manifest file (if manifest is remote) -->
    <add key="ManifestTempFile" value="temp_manifest_[Target]_[YYYY][MM][DD]-[HH][TT][SS].csv"/>
    <!-- Temporary folder used to store downloaded files -->
    <add key="TempFolder" value="temp_[Target]_[YYYY][MM][DD]-[HH][TT][SS]"/>
    <!-- Folder used to store corrupt files after a run (temp folder will be renamed to this)-->
    <add key="CorruptFolder" value="[Target]_[YYYY][MM][DD]-[HH][TT][SS]"/>
    <!-- Set KeepCorruptFiles to true to keep corrupt files after download for further inspection -->
    <add key="KeepCorruptFiles" value="true"/>
    <!-- Configure the key used to validate publicly accessible manifest files-->
    <add key="ManifestMD5Prepend" value="(YourOwnKeyHere)"/>    
  </appSettings>
</configuration>